p {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
.Obi-wan {
  background: url(/assets/img/obi.png);
}
.R2-D2 {
  background: url(/assets/img/r2d2.png)
}
.Darth {
  background: url(/assets/img/darth.png)
}
.Luke {
  background: url(/assets/img/luke.png)
}
.card-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 auto;
  padding: 5px;
  width: 100vw;
  height: 90vh;
  justify-content: space-around;
  align-items: center;
}
.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 4px;
  -webkit-box-align: left;
  -webkit-align-items: left;
  -ms-flex-align: left;
  align-items: left;
  margin: 5px;
  padding: 0;
  width: 12%;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 140px;
}
.card__image {
  position: relative;
  width: 100%;
  display: block;
  /* max-width: 120px; */
  height: 140px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}
.card__image:hover {
  cursor: pointer;
}
.card__image:hover:after {
  bottom: 0;
  color: white;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.card__image:hover .image-overlay, .loading {
  background-color: rgba(35, 155, 55, 0.33);
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.card__image:after {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: -4em;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1em;
  text-align: center;
  color: rgba(255, 255, 255, 0);
  color: #fff;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.card__image.loading:after {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  /*bottom: -4em;*/
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1em;
  text-align: center;
  color: rgba(255, 255, 255, 0);
  color: #fff;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.card__image .image-overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 140px;
  top: 0;
  left: 0;
  content: "";
  background-color: rgba 255, 255, 255, 0;
  -webkit-transition: backgroundColor, 0.15s;
  transition: backgroundColor, 0.15s;
}
.card__image img {
  display: block;
  padding-bottom: -44px;
  /* max-width: 100%; */
  /* margin-bottom: -34px; */
  width: 100%;
  height: 116%;
  /* top: -6%; */
}
.card__actions {
  font-family: serif;
  font-size: 25px;
  line-height: 12px;
  color: #a3a3a3;
  text-align: right;
  padding: 0 8px 0 0;
  margin: 0;
}
.card.is-checked .card__image:after {
  font-size: 2.26em;
  bottom: 0;
  -webkit-transition: all .15s;
  transition: all .15s;
}
.card.is-checked .card__image .image-overlay {
  background-color: rgba(35, 155, 55, 0.66);
}
.name {
  margin-top: 20px;
  color: white;
  text-align: center;
  font-size: .9em;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: .1em;
}
@media (max-width: 767px) {
  .card-container {
    -webkit-flex-wrap: initial;
    -ms-flex-wrap: initial;
    flex-wrap: initial;
     -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: initial;
    align-items: center;
    padding-top: 200px;
  }


  .card {
    margin-top: 28px;
  }
}
