<!-- @appState for ngAnimate -->
<div  @appStateObject = "appStateObject.state" class="card-container card--fixedWidth">
  <span @enter = "appStateObject.state" *ngFor="let character of characterArray; let i=index" >
    <div (click)="logState(character)" class="card {{character.name}}">
      <div class="card__image" [ngClass]="{loading: loading}">
        <svg  *ngIf="checkCharacter(character) && loading" class="spinner" width="125px" height="75%" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
           <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
        <div class="image-overlay">
        </div>
      </div>
    </div>
      <div class="name">{{character.name}}</div>
  </span>
    <!-- /.card -->
</div>

<!-- /.card-container -->
