<div class="card-container card--fixedWidth">
  <div *ngIf="dataReceived() === false" class="sample-content">
    <md-progress-bar mode="indeterminate" color="warn" *ngIf="loading"></md-progress-bar>
  </div>
  <div *ngIf="dataReceived()">
    <div *ngFor="let character of characterArray; let i=index" (click)="logState(character)" class="card">
      <div class="card__image" id="card-1">
        <div class="image-overlay">
        </div>
        <img *ngIf="character.name === 'Obi-wan Kenobi'" src="/assets/img/obi.png" alt="" />
        <img *ngIf="character.name === 'R2-D2'" src="/assets/img/r2d2.png" alt="" />
        <img *ngIf="character.name === 'Luke Skywalker'" src="/assets/img/luke.png" alt="" />
        <img *ngIf="character.name === 'Darth Vader'" src="/assets/img/darth.png" alt="" />
      </div>
      <div class="card__actions">
      </div>
      <div class="card__description">
        <p>{{character.name}}</p>
      </div>

    </div>
    <!-- /.card -->
  </div>
</div>
<!-- /.card-container -->
