.movies-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.character_name {
  color: #fff;
  font-size: 2.25em;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

li {
  list-style: none;
  color: #fff;
 font-family: "ITC Serif Gothic", Lato;
 font-size: 1em;
 letter-spacing: 0.4em;
 text-transform: uppercase;
 text-align: center;
 margin-bottom: 25px;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#back {
  fill: white;
  margin-top: 25px;
}

#back:hover {
  fill: #D6BF7C;
  cursor: pointer;
}

path { transition: fill .4s ease; }

.movies-inner-container {
  margin-top: 10vh;
}

@media (max-width: 767px) {
  .character_name {
    font-size: 1.5em;
  }

  li {
    font-size: .6em;
  }
}
