.movies-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.character_name {
  color: #fff;
  font-family: "ITC Serif Gothic", Lato;
  font-size: 2.25em;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  text-align: center;
}

li {
  list-style: none;
  color: #fff;
 font-family: "ITC Serif Gothic", Lato;
 font-size: 1.25em;
 letter-spacing: 0.4em;
 text-transform: uppercase;
 text-align: center;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#back {
  fill: white;
  margin-top: 25px;
}
