<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/loader.css">
  <title>
    <%= webpackConfig.metadata.title %>
  </title>

  <meta name="description" content="<%= webpackConfig.metadata.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
    <!-- Configured Head Tags  -->
    <%= webpackConfig.htmlElements.headTags %>
      <% } %>

        <!-- base url -->
        <base href="<%= webpackConfig.metadata.baseUrl %>">

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
  <app>
    <div class="loader-wrapper">
    <div class="bb8">
      <div class="bb8-head">
        <div class="eye big"></div>
        <div class="eye little"></div>
      </div>
      <div class="bb8-body">
        <div class="port port-1"></div>
        <div class="port port-2"></div>
        <div class="port port-3"></div>
      </div>
    </div>
    </div>
  </app>

  <% if (webpackConfig.metadata.isDevServer) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
    <!-- polyfill needed for the date pipe.  Intl is not yet supported in safari and older browsers, adds substantial network resources, look for better fix as Angular moves towards release CTK July 25-->
    <!-- https://github.com/angular/angular/issues/3333 -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en"></script>

</body>
</html>
